/* General Signup Container */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('/login-banner.png') center/cover fixed;
    padding: 20px;
}

/* Signup Form */
.signup-form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.signup-form input:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: 0 0 5px rgba(141, 137, 137, 0.5);
}

/* Button */
.signup-form button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-form button:hover {
    background-color: white;
    transform: scale(1.05);
    color: black;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.logo-image {
    max-height: 75px;
    margin-bottom: 5px;
    filter: invert(100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-image:hover {
    transform: rotate(10deg) scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.logo span {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    animation: bounce 2s infinite;
}
.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-container {
        padding: 20px;
    }

    .signup-form {
        width: 90%;
    }
}
